asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
Django==2.2.4
django-countries==5.5
django-crispy-forms==1.7.2

idna==3.7
mysql-connector-python==8.3.0
mysqlclient==2.2.0
pillow==10.4.0
platformdirs==4.2.2
PyMySQL==1.1.0
pytz==2024.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==2.37.1
tzdata==2023.3
urllib3==2.2.1
virtualenv==20.26.3
